<ion-header>
  <ion-toolbar color="warning">
    <ion-title>New note</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/note"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label color="primary">Title</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label color="primary">Description</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>

